.blog-table {
	table-layout: fixed;
	width: 100%;
	border-collapse: collapse;
	margin-top: 15px;
}

.blog-table tr {
	border-bottom: 1px solid gray;
}

.blog-table th {
	text-align: left;
	padding: 8px 8px;
}

.blog-table td {
	padding: 15px 10px;
}

.title-col {
	max-width: 400px;
}

.creator-col {
	max-width: 300px;
}

.update-col {
	max-width: 300px;
}

.sort-col {
	/*text-decoration-style: dashed;*/
}

.sort-col a, .sort-col a:visited {
	color: #707070;
	text-decoration: underline;
}

.sorted-col {
	border-bottom: 1px solid white;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
}

.blog-table tr + tr:hover {
	background: #d9d9d9;
}

.blog-table td a:visited {
	color: blue;
}

.pages_list {
	list-style: none;
}

.pages_list li {
	display: inline;
}

.pages_list li + li {
	padding-left: 5px;
}

@media screen and (max-width: 640px) {
	.blog-table th {
		display: none;
	}

	.blog-table td {
		display: inline-block;
	}

	.blog-table td.title-col {
		display: block;
	}

	.blog-table .title-col {
		padding-bottom: 5px;
	}

	.blog-table .creator-col, .blog-table .update-col {
		padding: 0px;
		font-size: 12px;
	}

	.blog-table .creator-col:after {
		content: ",";
	}
}
