.post {
	position: relative;
	border-bottom: 2px solid black;
	overflow-y: hidden;
	margin-bottom: 20px;
}

.post-text {
	position: relative;
	overflow-y: hidden;
	max-height: 450px;
	margin-bottom: 10px;
}

.post-text:after {
	display: none;
	content: "";
	position: absolute;
	top: 0px; bottom: 0px; left: 0px; right: 0px;
	box-shadow: inset 0px -130px 50px -100px #fff;
	pointer-events: none;
}

.post-footer {
	margin: 4px 0px;
}

.post .post-header {
	margin-bottom: 5px;
}

.post .post-blog {
	margin-top: 5px;
}

.post-blog a, .post-blog a:visited {
	color: black;
}
