{% extends "core/base.html" %}
{% load static %}
{% load core_extras %}

{% block add_css %}
<link rel='stylesheet' href='{% static 'css/blog/blog.css' %}'>
<link rel='stylesheet' href='{% static 'css/core/pagination.css' %}'>
<link rel='stylesheet' href='{% static 'css/blog/categories.css' %}'>
{% endblock %}

{% block content %}
<h1>Blogs</h1>
{% if user.is_authenticated %}
<p><a href='{% url 'blog:create_blog' %}'>Create new blog.</a></p>
{% endif %}

<p>Show <a href='{% produce_get max=2 %}'>2</a>,
<a href='{% produce_get max=10 %}'>10</a>,
<a href='{% produce_get max=20 %}'>20</a>,
<a href='{% produce_get max=50 %}'>50</a>
blogs.</p>

<form method='get'>
	<input type='text' name='search' value='{{ search }}'>
	<input type='submit' value='Search'>
</form>

<p>Choose tags:</p>
<ul class='categories'>
{% for category in categories %}
	{% if not request.GET.tag or category.title not in request.GET|querydict_get_list:"tag" %}
	<a href='{% produce_get_update tag=category.title %}'><li class='category category-not-chosen'>{{ category.title|escape }}</li></a>
	{% else %}
	<a href='{% produce_get_remove tag=category.title %}'><li class='category category-chosen'>{{ category.title|escape }}</li></a>
	{% endif %}
{% endfor %}
</ul>

{% if blog_list %}
	<table class='blog-table'>
	<tr>
		<th class='title-col sort-col{% if order_desc_title or order_title %} sorted-col{% endif %}'><a href='{% if order_desc_title %}{% produce_get order_way="asc" order="title" %}{% else %}{% produce_get order="title" order_way="desc" %}{% endif %}'>Title</a></th>
		<th class='creator-col'>Creator</th>
		<th class='update-col sort-col{% if order_desc_updated_at or order_updated_at %} sorted-col{% endif %}'>
			<a href='{% if order_desc_updated_at %}{% produce_get order_way="asc" order="updated" %}{% else %}{% produce_get order="updated" order_way="desc"%}{% endif %}'>Last update</a></th>
	</tr>
	{% for blog in blog_list %}
	<tr>
		<td class='title-col'><a href='{% url 'blog:show_blog' blog.id %}'>{{ blog.title }}</a></td>
		<td class='creator-col'><a href='{% url 'user:user_page' blog.creator.id %}'>{{ blog.creator }}</a></td>
		<td class='update-col'>{{ blog.updated_at }}</td>
	</tr>
	{% endfor %}
	</table>

	{% include 'core/pagination.html' %}

{% else %}
	<p>No blogs are available.</p>
{% endif %}
{% endblock %}
