{% extends "core/base.html" %}
{% load mptt_tags %}
{% load blog_extras %}
{% load static %}
{% load cache %}

{% block add_css %}
<link rel='stylesheet' href='{% static 'blog/css/comments.css' %}'>
<link rel='stylesheet' href='{% static 'blog/css/post.css' %}'>
{% endblock %}

{% block add_js %}
<script src='{% static 'blog/js/comments.js' %}'></script>
{% endblock %}

{% block content %}
{% if blog %}
<h1>Blog "<a href='{% url 'blog:show_blog' blog.id %}'>{{ blog.title|escape }}</a>"</h1>
{% else %}
<p>Blog is not available</p>
{% endif %}
{% if post %}
	<h2>{{ post.title|escape }}</h2>
	<p>{{ post.text|escape|linebreaksbr}}</p>
	{% if user == post.creator %}
	<p><a href='{% url 'blog:update_post' blog.id post.id %}'>Update</a>   
	<a href='{% url 'blog:delete_post' blog.id post.id %}'>Delete</a></p>
	{% endif %}
	<div class='post-footer'>
		<div class='post-author-avatar'>
			{% if post.creator.avatar %}
			<img src='{{ post.creator.avatar.url }}'  alt=''>
			{% endif %}
		</div>
		<div class='post-author'><a href='{% url 'user:user_page' post.creator.id %}'>{{ post.creator.username|escape }}</a></div>
		<div class='post-created-at'>{{ post.created_at }}</div>
		<div id='post-{{ post.id }}-dislike' class='generic-like' 
			data-model='{{ post_ct_id }}' data-id='{{ post.id }}' data-status='-1'>&darr;</div>
		<div id='post-{{ post.id }}-like' class='generic-like'
			data-model='{{ post_ct_id }}' data-id='{{ post.id }}' data-status='1'>&uarr;</div>
		<div id='post-{{ post.id }}-counter' class='comment-counter 
		{% if post.likes_num > 0 %}comment-counter-positive{% endif %}
		{% if post.likes_num == 0 %}comment-counter-zero{% endif %}
		{% if post.likes_num < 0 %}comment-counter-negative{% endif %}
			'>{{ post.likes_num|abs }}</div>
		<p id='post-{{ post.id }}-reply' class='post-reply js-reply'>Reply</p>
	</div>
	<h3>Comments</h3>
	{% cache 5 'post' post.id %}
	{% if comments %}
	{% recursetree comments %}
		<div>
			{% if node.status %}
			<div id='comment-{{ node.id }}' class='comment 
			{% if node|check_comment_downvoted %}comment-downvoted{% endif %}
			'>
				<div class='comment-author'>
					<div class='comment-author-avatar'>
						{% if node.creator.avatar %}
						<img src='{{ node.creator.avatar.url }}'  alt=''>
						{% endif %}
					</div>
					<div class='comment-author-text'>
						<div><a href='{% url 'user:user_page' node.creator.id %}'>{{ node.creator.username|escape }}</a></div>
						<p class='comment-created-at'>on {{ node.created_at }} said:</p>
					</div>
				</div>
				<p class='comment-text'>{{ node.text|escape|linebreaksbr }}</p>
				<div class='comment-footer'>
					<div id='comment-{{ node.id }}-reply' class='comment-reply js-reply'>Reply</div>
					<div id='comment-{{ node.id }}-dislike' class='generic-like' 
						data-model='{{ comment_ct_id }}' data-id='{{ node.id }}' data-status='-1'>&darr;</div>
					<div id='comment-{{ node.id }}-like' class='generic-like' 
						data-model='{{ comment_ct_id }}' data-id='{{ node.id }}' data-status='1'>&uarr;</div>
					<div id='comment-{{ node.id }}-counter' class='comment-counter 
					{% if node.likes_num > 0 %}comment-counter-positive{% endif %}
					{% if node.likes_num == 0 %}comment-counter-zero{% endif %}
					{% if node.likes_num < 0 %}comment-counter-negative{% endif %}
						'>{{ node.likes_num|abs }}</div>
				</div>
			</div>
			{% if not node.is_leaf_node %}
			<div class='{% if node.level < 6 %}comment-shift{% endif %} 
				{% if node.level|divisibleby:2 %}comment-color-first{% else %}comment-color-second{% endif %}
				'>
				{{ children }}
			</div>
			{% endif %}
			{% else %}
			<div>
				{{ children }}
			</div>
			{% endif %}
		</div>
	{% endrecursetree %}
	{% else %}
		<p>There're no comments yet. Be the first to add!</p>
	{% endif %}
	{% endcache %}
{% else %}
	<p>Post is not available</p>
{% endif %}
{% endblock %}
