{% extends "core/base.html" %}
{% load static %}

{% block add_css %}
<link rel='stylesheet' href='{% static 'css/blog/post_list.css' %}'>
{% endblock %}

{% block add_js %}
<script src='{% static 'js/blog/post_list.js' %}'></script>
{% endblock %}

{% block content %}
<h1>Posts in the blog "<a href='{% url 'blog:show_blog' blog.id %}'>{{ blog.title|escape }}</a>"</h1>

{% if user.is_authenticated %}
<p class='button-create-post'>Create new post.</p>
{% else %}
<p><a href='{% url 'core:login' %}' class='login-button'>Login</a> to create new post.</p>
{% endif %}

<p>Sort by <a href='?order=updated{% if order_desc_updated_at %}&order_way=asc{% endif %}'>updated</a>,
<a href='?order=title{% if order_desc_title %}&order_way=asc{% endif %}'>title</a></p>

<form method='get'>
	<input type='text' name='search' value='{{ search }}'>
	<input type='submit' value='Search'>
</form>

{% if posts %}
	{% for post in posts %}
	<div class='post'>
		<h2 class='post-header'>
			<a href='{% url 'blog:show_post' blog.id post.id %}'>{{ post.title|escape }}</a>
		</h2>
		<h3 class='post-blog'>
			<a href='{% url 'blog:show_blog' blog.id %}'>{{ blog.title|escape }}</a>
		</h3>
		<p class='post-text'>
			{{ post.text|escape|linebreaksbr }}
		</p>
		<p class='post-footer'>
			<a href='{% url 'user:user_page' post.creator.id %}'>{{ post.creator.username|escape }}</a>,
			{{ post.updated_at }} <br/>
			Likes: {{ post.likes_num }}, comments: {{ post.comment__count }}. <br/>
			<a href='{% url 'blog:show_post' blog.id post.id %}'>Read more</a>
		</p>
	</div>
	{% endfor %}
{% else %}
{% if search == '' %}
<p>There're no posts yet, be the first to add!</p>
{% else %}
<p>No posts found</p>
{% endif %}
{% endif %}
{% endblock %}
