{% extends 'core/base.html' %}

{% load static %}

{% block add_css %}
<link rel='stylesheet' href='{% static 'user/css/user_page.css' %}'>
{% endblock %}

{% block add_js %}
<script src='{% static 'user/js/user_page.js' %}'></script>
{% endblock %}

{% block content %}
<h2>{{ local_user.username }}</h2>
{% if local_user != user %}
<a href='subscribe/' class='user-subscribe'>Subscribe!</a>
{% endif %}
{% if local_user.avatar %}
<img src='{{ local_user.avatar.url }}' alt='avatar' height='160' width='160' style='float:right;'>
{% else %}
<p style='float:right;'>Avatar</p>
{% endif %}
<p>{% if local_user.first_name %}First name: {{ local_user.first_name }}{% endif %}</p>
<p>{% if local_user.last_name %}Last name: {{ local_user.last_name }}{% endif %}</p>

{% endblock %}
