{% load static %}
{% load core_extras %}

<!DOCTYPE html>
<html lang='en'>
<head>
	<title>{% block title %}Weblog{% endblock %}</title>
	{% block base_css %}
	<link rel='stylesheet' href='{% static 'css/core/base.css' %}'>
	<link rel='stylesheet' href='{% static 'css/core/normalize.css' %}'>
	{% endblock %}
	{% block jquery %}
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	{% endblock %}
	{% block core_js %}
	<script src='{% static 'js/core/core.js' %}'></script>
	{% endblock %}
	{% block add_css %}{% endblock %}
	{% block add_js %}{% endblock %}
</head>

<body>
	{% block header %}
	<div class='header'>
	<ul class='header-list'>
		<li class='header-mobile'>Menu</li>
		<li id='header-mobile-icon' class='header-mobile header-mobile-right'>&#9776;</li>
		<li><a href='{% url 'core:home' %}'>Home</a></li>
		<li><a href='{% url 'blog:index' %}'>Blogs</a></li>
		<li><a href='{% url 'core:about' %}'>About</a></li>
		{% if user.is_authenticated %}
		<li class='header-user'><a href='{% url 'user:user_page' user.id %}'>{{ user.username }}</a></li>
		<li class='header-user header-avatar'><a href='{% url 'user:user_page' user.id %}'>
					{% if user.avatar %}
					<img src='{{ user.avatar.url }}' alt='' width='30' height='30'>
					{% endif %}</a></li>
		<li class='header-user'><a href='{% url 'core:logout' %}'>Log out</a></li>
		{% else %}
		<li class='header-user'><a href='{% url 'core:register' %}'>Sign up</a></li>
		<li class='header-user'><a href='{% url 'core:login' %}'>Log in</a></li>
		{% endif %}
	</ul>
	</div>
	{% endblock %}
	
	<div id="layout">
		<div id="content">
			{% block content %}{% endblock %}
		</div>

		<div id="sidebar">
			{% block sidebar %}
			{% fill_sidebar %}
			{% endblock %}
		</div>
	</div>

	<div id="footer">
		{% block footer %}
		<p class='footer-devs'>&copy;Deramer</p>
		{% endblock %}
	</div>
</body>
</html>
