.comment {
	border: 1px solid black;
	margin: 2px 0px;
}

.comment-author a:visited, .comment-footer a:visited {
	color: blue;
}

.comment-shift {
	padding-left: 40px;
}

.comment-add textarea {
	width: 100%;
	max-height: 40px;
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
}

.comment-color-second {
	background-color: #ffffff;
}

.comment-color-first {
	background-color: #f0f0f0;
}

.comment-downvoted {
	border: 1px solid gray;
	color: gray;
}

.comment-downvoted a:visited, .comment-downvoted .comment-author a:visited, .comment-downvoted .comment-footer a:visited {
	color: gray;
}

.comment-downvoted:hover {
	border: 1px solid black;
	color: black;
}

.comment-downvoted a:visited, .comment-downvoted:hover .comment-author a:visited, .comment-downvoted:hover .comment-footer a:visited {
	color: blue;
}

.comment-author {
	position: relative;
	margin-top: 3px;
	margin-left: 3px;
	margin-bottom: 3px;
}

.comment-author-avatar {
	position: absolute;
}

.comment-author-avatar img {
	width: 39px;
	height: 39px;
}

.comment-author-text {
	margin-left: 50px;
}

.comment-text {
	margin-bottom: 3px;
	margin-left: 3px;
}

.comment-footer {
	margin: 3px;
}

.comment-reply, .comment-downvoted:hover .comment-reply {
	color: blue;
	text-decoration: underline;
	display: inline-block;
}

.comment-downvoted .comment-reply {
	color: gray;
}

.comment-reply:hover {
	cursor: pointer;
}

.comment-like, .comment-counter {
	display: inline-block;
	float: right;
}

.comment-like {
	color: blue;
	cursor: pointer;
}

.comment-counter {
	margin-right: 2px;
}

.comment-counter-positive {
	color: green;
}

.comment-counter-positive:before {
	content: '+';
}

.comment-counter-zero {
	color: gray;
}

.comment-counter-negative {
	color: red;
}

.comment-counter-negative:before {
	content: '-';
}
